$primary-color: #fa719a;
$primary-hover: #e05e86;
$background-color: #fff;
$text-color: #000;
$text-light: #fff;
$footer-bg: #feb7cb;

$font-body: "Roboto", sans-serif;
$font-title: "Titan One", cursive;

$max-width: 1200px;

