// scss/layout/_grid.scss

@use '../utils/variables' as v;

.container {
  max-width: v.$max-width;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.col {
  flex: 1;
  padding: 15px;
}
